@font-face{
    font-family: myFont;
    src:url(fonts/blockschrift.ttf);
}

body {
    margin-top: 0;
    margin-left: 0;
    background-color: "#fff";
    image-rendering: pixelated;
    /* font-family: 'Permanent Marker'; */
    /* font-family: 'blockschrift-f-regular', sans-serif; */
};